{% extends 'layout/base.html' %}

{% block title %}Add Expense{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold mb-4 mt-2.5">Add Expense</h1>
    <form action="{% url 'add_expense' %}" method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="amount" class="block text-sm font-medium leading-6 text-gray-900">Amount</label>
            <div class="relative mt-2 rounded-md shadow-sm">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    <span class="text-gray-500 sm:text-sm">Rp</span>
                </div>
                {{ form.amount }}
<!--                <input type="text" name="amount" id="amount" class="block w-full rounded-md border-0 py-1.5 pl-12 pr-12 text-gray-700 ring-1 ring-inset ring-gray-300" placeholder="0.00" aria-describedby="amount-currency">-->
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                    <span class="text-gray-500 sm:text-sm">IDR</span>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Description</label>
            {{ form.description }}
        </div>
        <div class="mb-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add Expense</button>
        </div>
    </form>
{% endblock %}