{% extends 'layout/base.html' %}

{% block title %}Add Income{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold mb-4 mt-2.5">Add Income</h1>
    <form id="forms" action="{% url 'add_income' %}" method="post">
        {% csrf_token %}
        <div class="mb-4">
            <label for="amount" class="block text-sm font-medium leading-6 text-gray-900">Amount</label>
            <div class="relative mt-2 rounded-md shadow-sm">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                    <span class="text-gray-500 sm:text-sm">Rp</span>
                </div>
                {{ form.amount }}
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                    <span class="text-gray-500 sm:text-sm">IDR</span>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Description</label>
            {{ form.description }}
        </div>
        <div class="mb-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add Income</button>
            <button id="startDictation" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add Income via Speech</button>
        </div>
    </form>
{% endblock %}